
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.title {
    font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 100.687%; 
padding-right: 21rem;
}

.description_container {
    display: flex;
padding: 27px 12px 111px 30px;
flex-direction: column;
align-items: flex-start;
background-color: white;
width: 850px;
border-radius: 5px;
gap: 1rem;
}

.back {
    position: absolute;
    top: 2%;
    left: 1%;
    color: rgb(253, 253, 253);
    font-size: 22px;
    background-color: var(--primary-button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
}